<!DOCTYPE html>
<html>
<!--https://codepen.io/frytyler/pen/EGdtg-->
<style>
    body{
        background-color: rgba(72, 236, 204, 0.63);
    }
    h1{
        font-family: serif;
        color: rgb(43, 11, 223);
    }
</style>
<head>
    <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1 align='center'>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form align='center' action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="experience" placeholder="Experience" required="required" />
        <input type="text" name="test_score" placeholder="Test Score" required="required" />
		<input type="text" name="interview_score" placeholder="Interview Score" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
